version: '2.0'

services:
  starter-boilerplate:
    container_name: starter-boilerplate
    restart: unless-stopped
    ports:
      - 6088:6088
    volumes:
      - /home/orangetoolz/orangetoolz/node/node_starter:/app
    working_dir: /app
    command: sh -c "yarn install &&  yarn start:dev"
    build:
      context: ../
      dockerfile: Dockerfile
    cap_add:
        - ALL
    user: root

  starter-boilerplate-mysql:
    image: mysql:8.0
    container_name: starter-boilerplate-mysql
    mem_limit: 1g
    volumes:
      - /home/orangetoolz/orangetoolz/node/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root123
    restart: unless-stopped

  starter-boilerplate-mysql-adminer:
    image: adminer
    container_name: starter-boilerplate-mysql-adminer
    links:
      - starter-boilerplate-mysql:db-mysql
    ports:
      - 6988:8080

  starter-boilerplate-redis:
    image: redis:6.2
    container_name: starter-boilerplate-redis
    restart: unless-stopped
    volumes:
      - /home/orangetoolz/orangetoolz/node/redis:/data

# End of Solid Boilerplate application configuration